site_name: Encrypted Wiki
site_url: https://minasayed.github.io/encryptedwiki/
use_directory_urls: true

theme:
  name: material
  palette:
    # إعدادات الوضع المظلم (Dark mode)
    - scheme: slate
      primary: indigo
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # إعدادات الوضع الفاتح (Light mode)
    - scheme: default
      primary: indigo
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.sections    # تقسيم القائمة الجانبية لأجزاء واضحة
    - navigation.expand      # فتح الأقسام تلقائياً
    - search.highlight       # تظليل الكلمات عند البحث عنها
    - content.code.copy      # إضافة زر نسخ الكود
    - navigation.top         # إضافة زر العودة للأعلى

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  - toc:
      baselevel: 1
      toc_depth: 3
      
extra_css:
  - stylesheets/extra.css
