site_name: Encrypted Wiki

theme:
  name: material
  palette:
    # Dark mode settings
    - scheme: slate
      primary: teal
      accent: cyan
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Light mode settings
    - scheme: default
      primary: teal
      accent: cyan
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.sections
    - navigation.expand
    - search.highlight
    - content.code.copy
    - navigation.top

plugins:
  - search
  - awesome-pages
     

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  - toc:
      baselevel: 1
      toc_depth: 3
