/* 1. تلوين المجلدات الرئيسية فقط (مثل offensive Programming) */
/* يستهدف العنوان المباشر للمجلد ولا يؤثر على الدروس بالداخل */
.md-nav__item--nested > label.md-nav__link, 
.md-nav__item--nested > a.md-nav__link {
    background-color: #3f51b5 !important; /* لون Indigo */
    color: #ffffff !important;             /* خط أبيض */
    padding: 8px 12px !important;
    border-radius: 4px !important;
    margin-bottom: 5px !important;
    font-weight: bold !important;
}

/* 2. تصحيح تأثير مرور الماوس (Hover) على المجلدات */
.md-nav__item--nested > label.md-nav__link:hover,
.md-nav__item--nested > a.md-nav__link:hover {
    background-color: #3f51b5 !important; /* أزرق أغمق عند الوقوف بالماوس */
    cursor: pointer;
    color : #ffffff;
}

/* 3. ضمان بقاء الدروس والملفات الداخلية بخلفية شفافة */
.md-nav__item--nested .md-nav__list .md-nav__link {
    background-color: transparent !important;
    color: var(--md-default-fg-color) !important;
    padding: 5px 12px !important;
    font-weight: normal !important;
}

/* 4. تلوين سهم القائمة باللون الأبيض ليظهر بوضوح */
.md-nav__item--nested > label.md-nav__link::after {
    background-color: #ffffff !important;
}




.md-footer {
    background-color: #3f51b5;
    color: #3f51b5;
}


html .md-footer-meta.md-typeset a {
    color: #3f51b5;
}


.md-copyright {
    color: #3f51b5;
    font-size: .64rem;
    margin: auto .6rem;
    padding: .4rem 0;
    width: 100%;
}









